/* General styles */
body{
    font-family: "Roboto",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color:#434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
}
li{
    list-style:none;
}
a{
    text-decoration: none;
    color: inherit;
}

h2,h3{
    color:#2E2F42;
}
h2{
    font-size: 2.25rem;
    font-weight:700;
    text-align: center;
}
h3{
    font-size: 1.25rem;
    font-weight:500;
    line-height: 1.2;
} 

footer{
    background-color:#2E2F42;
    color: #F4F4FD;
}
/* Header styles */

.site-logo{
 font-family: "Raleway",sans-serif;   
 text-transform: uppercase;
 font-size: 1.125rem;
 line-height: 1.17;
 letter-spacing: 0.03em;
 font-weight: 700;
 color:#4D5AE5;
}

.site-logo-header,.site-menu{
    color:#2E2F42;
}
.site-menu{
    font-weight:500;
}

.site-address-contacts{
    font-style: normal;
    
}
/* Hero section */

.hero-section{
    background-color: #2E2F42;
    text-align: center;
    color: #FFFFFF;
}
.hero-section-title{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.hero-section-button{
    font-family:"Roboto",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: inherit;
    cursor:pointer;
}
.site-menu-item:hover,.site-menu-item:active,.site-menu-item:focus,.address-list-item:hover,.address-list-item:focus,.hero-section-button:hover,.hero-section-button:active{
    color: #404BBF;
}

.hero-section-button:hover,
.hero-section-button:active {
background-color: #404BBF;
}
/* Features section */

.features-section-title{
    visibility: hidden;
}
.features-section-list-item-title{
letter-spacing: 0.02em;
}


/* Team section */
.team-section{
    background-color:#F4F4FD;
}
.team-section-title,.portfolio-section-title{
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.team-section-list-item {
    width: 264px;
    height: 380px;
    text-align: center;
    background-color: white;
}
.team-section-list-item-title{
    letter-spacing: 0.02em;
}

.team-section-list-item-text{
    font-size: 1rem;
}
/*Portfolio section*/

.portfolio-section-list-item-title{
     letter-spacing: 0.02em;
}

/* Footer */
.site-main-footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}

.site-logo-footer{
    color: #F4F4FD;
}